<!--
The body element doesn't contain any <body>
tags becuase other elements which reside in the body of your HTML code
(header, footer) must be within those tags
-->
        <div class="row">
                      <div class="large-12 columns">
            {% block content %}{% endblock %} <!--This is the code that rendrs your page's content in Grav-->
                      </div>
        </div>
