<section class="footer">
   <div class="row">
      <div class="large-12 text-center columns">
         <img src="{{ theme_url }}/img/ico_read.png" alt="Surface UI">
		 <p style="color:#FFF; margin-top:30px; font-size:22px;">ZURB FOUNDATION - THE MOST POWERFUL RESPONSIVE FRAMEWORK PERIOD.</p>
	   <p style="color:#FFF; margin-top:30px; font-size:16px;">Copyright &copy; 2016 <a href="http://tnware.net" target="_blank">Tyler Woods</a>.</p>

      </div>
   </div>
</section>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="js/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>
</body>
   {% block bottom %}{% endblock %}
</html>
