<section class="footer">
   <div class="row">
      <div class="large-12 text-center columns">
         <img src="img/logo.png" alt="Surface UI">
		 <p style="color:#FFF; margin-top:30px; font-size:22px;">ZURB FOUNDATION - THE MOST POWERFUL RESPONSIVE FRAMEWORK PERIOD.</p>
         <p style="color:#FFF; margin-top:30px;">A simple Flat style skin for <a href="http://foundation.zurb.com/develop/download-f4.html" target="_blank">Zurb Foundation 4 Framework</a>. Give your theme some juice, your customers will be happy.</p>
         <p style="color:#FFF; margin-top:30px;">Also includes the superior set of font icons from <a href="http://fontawesome.io" target="_blank">Font Awesome Version 4.0.3</a>.</p>
         <a class="button xing large round" href="#"><i class="icon-download-alt"></i> Download <small>version 1.01</small></a>
	   <p style="color:#FFF; margin-top:30px; font-size:16px;">Copyright &copy; 2013 <a href="http://surface.surgd.com" target="_blank">Surgd Web Develpment</a>.</p>

      </div>
   </div>
</section>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="js/foundation.min.js"></script>
  <!--

  <script src="js/foundation/foundation.js"></script>

  <script src="js/foundation/foundation.interchange.js"></script>

  <script src="js/foundation/foundation.abide.js"></script>

  <script src="js/foundation/foundation.dropdown.js"></script>

  <script src="js/foundation/foundation.tooltips.js"></script>

  <script src="js/foundation/foundation.placeholder.js"></script>

  <script src="js/foundation/foundation.forms.js"></script>

  <script src="js/foundation/foundation.reveal.js"></script>

  <script src="js/foundation/foundation.section.js"></script>

  <script src="js/foundation/foundation.topbar.js"></script>

  -->


  <script>
    $(document).foundation();
  </script>
</body>
   {% block bottom %}{% endblock %}
</html>
