<section class="hero">
   <div class="row">
      <div class="large-12 text-center columns">
         <img src="img/logo.png" alt="Surface UI">
		 <p style="color:#FFF; margin-top:30px; font-size:22px;">ZURB FOUNDATION - THE MOST POWERFUL RESPONSIVE FRAMEWORK PERIOD.</p>
         <p style="color:#FFF; margin-top:30px;">A simple Flat style skin for <a href="http://foundation.zurb.com/develop/download-f4.html" target="_blank">Zurb Foundation 4 Framework</a>. Give your theme some juice, your customers will be happy.</p>
         <p style="color:#FFF; margin-top:30px;">Also includes the superior set of font icons from <a href="http://fontawesome.io" target="_blank">Font Awesome Version 4.0.3</a>.</p>
         <a class="button xing large round" href="#"><i class="icon-download-alt"></i> Download <small>version 1.01</small></a>
      </div>
   </div>
</section>
